@font-face {
  font-family: 'coolvetica rg_0';
  src: url('fonts/coolvetica rg_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background-color: rgb(10, 138, 211);
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  font-family: 'coolvetica rg_0';
}

.Nav-Bar-Categories {
  display: flex;

}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}

.tenants-desc {
  margin: 0;
  padding: 0;
  align-content: left;
}

.footer {
  position: fixed;
  background-color: rgb(10, 138, 211);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  text-align: center;
  color: rgb(255, 142, 40);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  list-style: none;
  font-family: 'coolvetica rg_0';
}

.footer-site-title {
  color: rgb(255, 142, 40);
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  gap: 2rem;
  padding: 0 1rem;
  text-decoration: none;
}

.Footer-Bar-Categories {
  display: flex;
  list-style: none;
}

.Footer-Bar-Categories a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.Footer-Bar-Categories li.active {
  background-color: #555;
}

.Footer-Bar-Categories li:hover {
  background-color: #777;
}